@model IEnumerable<WebProgProje.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p style="margin: 20px; margin-left: 80px;">
    <button class="btn btn-outline-primary"><a asp-action="Create">Yeni Makale Oluştur</a></button>
</p>
<p style="margin: 20px; margin-left: 80px;">
    <button class="btn btn-outline-primary"><a asp-action="GetContactMails">İletişim İletileri Görüntüle</a></button>
</p>
<table class="table" style="margin: 20px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfAdding)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfAdding)
            </td>
            <td>
                <a role="button" class="btn btn-success" asp-action="Edit" asp-route-id="@item.ArticleId">Edit</a>
                <a role="button" class="btn btn-danger" asp-action="Details" asp-route-id="@item.ArticleId" >Details</a>
                <a role="button" class="btn btn-warning" asp-action="Delete" asp-route-id="@item.ArticleId" >Delete</a>
           
</td>

</tr>
}
    </tbody>
</table>
